:root {
    --base: darksalmon;
    --spacing: 10px;
    --blur: 10px;
}

img {
   padding: var(--spacing);
   background: var(--base);
   filter: blur(var(--blur));
   width: 50%;
   height: 50%;
}

.hl {
    color: var(--base);
}

body {
    text-align: center;
    background: #f3f5f7;
    color: #180b2c;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}